[access]
	inheritFrom = All-Projects
[project]
	description = Home Appliances and Entertainment Service Framework
[access "refs/for/refs/heads/*"]
	push = group HAE
[access "refs/heads/*"]
	create = group HAE
	forgeAuthor = group HAE
	label-Code-Review = -2..+2 group HAE
	submit = group HAE
	editTopicName = group HAE
	abandon = group HAE
[access "refs/meta/config"]
	read = group HAE
[access "refs/tags/*"]
	pushTag = group HAE
	pushSignedTag = group HAE
[access "refs/for/*"]
	pushMerge = group HAE
[access "refs/*"]
	read = group GitHub Replication
